@media (max-width: 680px) {

    .mobile-menu {
        display: block;
    }

    
    .nav ul li {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    header 
    {
        margin: 0;
    }
    #check {
        position: absolute;
    }
    .atas {
        display: none;
    }
    .btn1 {
        display: none;
    }
    /* .atas ul {
        display: none;
    } */
    .main-semantic h1 {
        font-size: 30px;
        margin-left: 70px;
    }
    .multiType {
        font-size: 25px;
    }
    .main-text {
        padding: 10px;
       
        
    }
    .main-text h1 {
        margin-top: 230px;
    }
    .button-main {
        display: flex;
        gap: 5px;
        width: 250px;
        margin-left: 80px;
        margin-top: -40px;
        position: absolute;
    }
 
    .main-semantic {
        padding: 10px;
        margin-left: 30px;
    }
    main {
        height: 500px;
    }
    .kotak {
        margin-left: 40px;
        height: 100px;
        width: 300px;
        height: 60px;
        margin-top: -20px;
    }
    .semua img {
    width: 30px;
    border-radius: 50%;

}
   .semua {
   
    gap: 25px;
    margin-top: 17px;

}
.text-aside {
    display: inline-block;
    padding: 50px;

}
.gambar-aside img {
    width: 300px;
}
.serutama {
    display: block;
   
   
    margin-left: 40px;
}
.logo {
    display: block;
    width: 0;
    position: absolute;
}
header {
    position: fixed;
    width: 100%;
}
.main-text img {
    width: 150px;
    margin-left: 100px;
    
    margin-top: 60px;
    border-radius: 50%;

} 


   

}