* {
    padding: 0;
    margin: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
.nav ul li:hover {
    background-color: gold;
}
.nav ul li {
    color: white;
}
.btn1 {
    float: right;
    margin-top: 15px;
    margin-right: 300px;
    border: none;
    width: 200px;
    height: 40px;
    background-color: orange;
    border-radius: 30px;
}

header {
    height: 70px;
}

header h1 {
    display: inline-block;
    padding: 15px 24px;
}

header h1 a:hover {
    color: gold;
}

header ul {
   
}

header li {
    padding: 24px;
    display: inline-block;
}

header ul li a:hover {
    color: gold;
}

a {
    text-decoration: none;
}

.atas {
    /* width: 90%; */
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    
    margin-left: 600px
}

.atas a {
    color: rgb(0, 0, 0);
}

.atas:after {
    content: '';
    display: block;
    clear: both;
}

.mobile-menu {
    float: right;
    display: none;
    padding: 20px;
   margin-right: 20px;
}

.mobile-menu:hover {
    cursor: pointer;
}

/* #id {
    display: none;
} */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -300px;
    width: 200px;
    background-color: black;
    transition: .3s;
    height: 400px;
}

.sidebar ul li a {
    color: white;
}

.sidebar ul li {    
    padding: 24px;
    transition: .3s;
    transition-property: background-color;
}

.sidebar ul li:hover {
    background-color: aqua;
}

.sidebar ul li a:hover {
    color: gold;
}

#check:checked ~ .sidebar {
    left: 0;
}


@media (max-width: 768px) {

    .mobile-menu {
        display: block;
    }

    
    .nav ul li {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    header 
    {
        margin: 0;
    }
    #check {
        position: absolute;
    }
    .atas {
        display: none;
    }
    .btn1 {
        display: none;
    }
    /* .atas ul {
        display: none;
    } */

}
/* bagian main  */
.main-semantic {
    
    
   
}

main {
    background-color: rgb(231, 231, 231);
    height: 700px;
    /* border-bottom-left-radius: 20%;
    border-bottom-right-radius: 50%; */
    
}
.main h1 {
    
}
.main-text {
    padding: 200px;
  
}
.button-main button {
    border: none;
    background-color: orange;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    margin-top: 20px;
}
.btnmain1 {
    z-index: 1;
    overflow: hidden;
    position: relative;
    
}
.btnmain1::after{
    content: '';
    width: 0;
    height: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
    display: block;
    z-index: -1;
    transition: all .2s ease-in-out;
    box-shadow: 6px 6px 10px black;
    

}
.btnmain1:hover::after {
   width: 200px;
   display: block;
   color: white;
    
}
.btnmain2 {
    z-index: 1;
    overflow: hidden;
    position: relative;
    
}
.btnmain2::after{
    content: '';
    width: 0;
    height: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
    display: block;
    z-index: -1;
    transition: all .2s ease-in-out;
    box-shadow: 6px 6px 10px black;
    

}
.btnmain2:hover::after {
   width: 200px;
   display: block;
   color: white;
    
}

.trapesium {
    height: 200px;
}
.kotak {
    width: 600px;
    height: 120px;
    background-color: rgb(255, 255, 255);
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    position: absolute;
    margin-top: -60px;
    margin-left: 400px;
}
.semua {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 40px;

}
.semua img {
    width: 50px;
    border-radius: 50%;

}


/* ASIDE */
.text-aside {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.gambar-aside {
    margin-right: 100px;
}
/* bagian services */
article {
    margin-top: 200px;
    height: 700px;
}
.serutama {
    display: flex;
    gap: 30px;
    margin-left: 70px;
    margin-top: 50px;
}
.ser1 {
     background-color: rgb(215, 215, 215);
    width: 300px;
    height: 100px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    transition: all .2s ease-in;
}
.ser1:hover {
      opacity: 0.7;

}
.ser1 {
     background-color: rgb(215, 215, 215);
    width: 300px;
    height: 100px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    transition: all .2s ease-in;
}
.ser1:hover {
      opacity: 0.7;

}
.ser2 {
     background-color: rgb(215, 215, 215);
    width: 300px;
    height: 100px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    transition: all .2s ease-in;
}
.ser2:hover {
      opacity: 0.7;

}
.ser3 {
     background-color: rgb(215, 215, 215);
    width: 300px;
    height: 100px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    transition: all .2s ease-in;
}
.ser3:hover {
      opacity: 0.7;

}
.ser4 {
     background-color: rgb(215, 215, 215);
    width: 300px;
    height: 100px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    transition: all .2s ease-in;
}
.ser4:hover {
      opacity: 0.7;

}
.serutama h1 {
    text-align: center;
    margin-top: 35px;
}
.textjudul {
    text-align: center;
}
.texttambahan {
    text-align: center;
  
}